v2.1/Schemas/Bulk/Interchange-StudentDiscipline.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<!-- (c)2016 Ed-Fi Alliance, LLC. All Rights Reserved. -->
<!-- Generated by MetaEd on 11/15/2016 12:08:18 -06:00-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/0200" targetNamespace="http://ed-fi.org/0200" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="Ed-Fi-Core.xsd" />
  <xs:annotation>
    <xs:documentation>===== Student Discipline Interchange Model =====</xs:documentation>
  </xs:annotation>
  <xs:element name="InterchangeStudentDiscipline">
    <xs:annotation>
      <xs:documentation>This interchange defines discipline incidents and discipline actions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element name="DisciplineIncident" type="DisciplineIncident" />
        <xs:element name="StudentDisciplineIncidentAssociation" type="StudentDisciplineIncidentAssociation" />
        <xs:element name="DisciplineAction" type="DisciplineAction" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
